body{
    margin: 0;
    background-color: #3d366d;
}
.topo{    
    display: flex;
    justify-content: space-between;
    background-color: #00001b;
    height: 110px;
    border: 1px #515151 solid;
}
#titulo{
    margin-left: 67px;
}
#links{
    width: 145px;
    margin: auto 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#barraPesquisa{
    background-color:#1a1a2a;
    border:solid 1px;
    border-radius:15px;
    width:300px;
    height: 35px;
    margin: auto 30px;
}
  
#textoBusca{
    float:left;
    color: #FFFFFF;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
}
#base{
    background-color: #00001b;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #00001b;
    display: flex;
    justify-content: space-evenly;
}
li{
    float: none;
}
  
li a{
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.carrosel.j{
    position: relative;
    width: 400px;    
    height: 250px;   
    overflow: hidden;
  }

  .carrosel.j img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: troca 24s infinite;
  }

  .slideshow img:nth-child(1) { animation-delay: 0s; }
  .slideshow img:nth-child(2) { animation-delay: 4s; }
  .slideshow img:nth-child(3) { animation-delay: 8s; }
  .slideshow img:nth-child(4) { animation-delay: 12s; }
  .slideshow img:nth-child(5) { animation-delay: 16s; }
  .slideshow img:nth-child(6) { animation-delay: 20s; }

  @keyframes troca {
    0% { opacity: 0; }
    5% { opacity: 1; }
    15% { opacity: 1; }
    20% { opacity: 0; }
    100% { opacity: 0; }
  }