#conteudo-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: solid rgb(255, 255, 255) 3px;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  margin-left: 200px;
  margin-right: 200px;
  padding: 30px 0;
  gap: 30px;
}

.rodapeconteiner {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.logos {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 20px;
}

.logos img {
  width: 29px;
  height: 29px;
  transition: transform 0.3s ease;
}

.logos img:hover {
  transform: scale(1.2);
}

a {
  text-decoration: none;
  padding-bottom: 10px;
  color: rgb(255, 255, 255);
}

a:hover {
  text-decoration: underline;
}

.rights {
  display: flex;
  text-align: center;
  color: #ffffff;
  align-content: center;
  justify-content: center;
  margin-top: 30px;
}

footer {
  background-color: #00001b;
  padding-top: 60px;
  align-items: center;
  justify-content: center;
}
#hoglogo {
  height: 75px;
  width: 250px;
  padding: 10px;
  margin: auto;
}
#casas {
  margin-bottom: 10px;
}
.rodapeconteiner h3,
.logos~h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}